.certification-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
  align-items: center;
}

.certification-header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.certification-title {
  color: #fff; /* Apply white color directly */
}

.certificate-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.certificate-card:hover {
  transform: translateY(-10px);
}

.certificate-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.certificate-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #576cbc;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
}

.certificate-link:hover {
  background-color: #132a53;
}
